/*  -- quiz page styling from here -- */

.container-questions{
    background-color: white;
    border: 1px solid orange;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(245,177,8,0.2);
    align-items: center;
    margin: 4rem auto;
    width: 50vw;
    height: 70vh;
    padding: 20px;
}

h2 {
    padding: 1rem;
}

ul{
    padding: 0 4rem;
    list-style-type: none;
}

ul li {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 10px;
}

ul li:hover {
    background-color: orange;
    padding: 1px;
    cursor: pointer;
}

li > input {
    margin: 0 10%;
    background-color: darkred;
    padding: 10px;
}

li > label {
    margin-left: -10%;
}

.btn-next-question {
    margin: 10px auto;
    width: 100%;
    display: block;
}


/* Question Tracker and Score Styling */

#questionsCounter{
    text-align: center;
}

.question-text{
    padding-top: 0;
}

.score-text{
    padding-top: 0;
}

.tracker-box {
    display: flex;
    justify-content: space-around;
}

#progress-container {
    display: block;
}

.progress-item {
    display: inline-flex;
    justify-content: space-between;
    margin: 10%;
}

.progress-container-prefix {
    text-align: center;
    font-size: 1.2rem;
}

/* Result Page Styling */

.result-page{
    text-align: center;
}

.quiz-btns {
    display: flex;
    flex-flow: column;
    gap: 10px;
}